.particularsInfoBox
        padding 20px
        .infoItem
            margin-bottom 15px
            .infoItemTitle
                width 120px
                line-height 25px
                text-align right 
                font-size 14px
                font-weight bold
            .infoItemContent
                width 394px
                line-height 25px
                font-size 14px
                padding-left 20px
            .infoitemTextBox
                min-height 100px
                padding 10px
                margin-top 20px
                font-size 14px
                background-color #f9f9f9
    .particularsRightItem
        font-size 14px  
        background-color #F5F5F5
        margin-bottom 10px
        .rightItemTitleBox
            line-height 38px
            font-weight bold
            border-bottom 1px solid #fff
            padding 0 10px
        .rightItemTitleBtnBox
            .rightItemTitleBtn
                color #ffffff
                width 44px
                height 20px
                line-height 20px
                text-align center
                background-color #00AC97
                margin-left 5px
                margin-top 9px
                border-radius 4px
                cursor pointer
                &.titleBtnDelete
                    background-color #f1253d
        .rightItemContentBox
            padding 15px 10px
            line-height 25px
            font-size 12px    